html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



 body {
  background: rgb(35 12 60);
  
  /* backdrop-filter: blur(92.30584716796875px); */
    color: #fff;
    margin: 0;
 }

 /* body {
  background-color: rgba(32, 8, 59, 0.75);
  position: relative;
  color: #fff;
  background: url(../img/Bg.png), lightgray 50% / cover no-repeat;
  backdrop-filter: blur(92.30584716796875px);

filter: blur(25px);
z-index: -1;
} */

/* body {
  position: relative;
  color: #fff;
  background-color: rgba(32, 8, 59, 0.75);
  backdrop-filter: blur(25px);
  filter: blur(25px);
  z-index: -1;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/Bg.png) lightgray 50% / cover no-repeat;
  filter: blur(92.30584716796875px);
  z-index: -1;
} */

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; 
  filter: blur(92px); 
  z-index: -1;
} */

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  
}

ul,
ol {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
    max-width: 1394px;
    margin: 0 auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.bg-line {
  position: absolute;
  top: 517px;
  left: 835px;
}
/*/////////// header ////////////////*/


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 112px;
    position: relative;
   
}

.header-logo {
  display: flex;
  align-items: center;
}


.first-half {
    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 20px;
    opacity: 60%;
}  

.second-half {
    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 20px;
}

.menu__list {
  margin-left: -136px;
    display: flex;
    align-items: center;
    gap: 0 66px;
    position: relative;
    z-index: 3;
}  

.menu__link {
    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 20px;
    opacity: 60%;
}

.menu__link:hover, .menu__link:focus {
    opacity: 100%;
}

.menu__button {
    display: none;
    /* width: 21px; */
    height: 20px;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    background-color: rgb(35 12 60);
    position: relative;
    z-index: 2;
}


.line {
  background-color:#fff;
    height: 3px;
  width: 21px ;
}

.middle {
  background-color:#fff;
    height: 3px;
  width: 13px;
}
  

.user-actions {
    display: flex;
    align-items: center;
    gap: 0 41px;   
}

.mobile-actions {
  display: none;
}
.menu__close {
  display: none;
}

.menu--close {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  transition: background-color .3s ease;
}

.menu--close.menu--open {
  display: block;
}

/*/////////// main block ///////////////*/

.top__inner {
  position: relative;
}

.top__title {
   max-width: 847px;
   margin-bottom: 21px;
}

.top__title-base {
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    font-size: 66px;
    line-height: 137.4%;
}

.top__title-special {
    font-family: 'Spartan', sans-serif;
                                                
    font-weight: 600;
    font-size: 66px;
    line-height: 137.4%;
    background: linear-gradient(272deg, #43A5E3 46.06%, #FF56F6 81.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.space {
    margin-right: 7px; 
  }

 .top__text {
font-family: 'Rajdhani', sans-serif;
font-size: 26px;
font-weight: 400;
line-height: 44px;
max-width: 657px;
 } 

 .top__btn-list {
  margin-top: 43px;
  display: flex;
  align-items: center;
 }

 .top__btn {
  margin-right: 38px;
  padding: 20px 32px 19px 67px;
  /* width: 250px;
  height: 64px; */
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border: 2px solid #FFA6FA;
  border-radius: 10px;
  filter: drop-shadow(0px 4.422px 107.23px rgba(255, 86, 246, 0.51));
  backdrop-filter: blur(106.12408447265625px);
  color: #ffffff; 
  clip-path: polygon(14% 0, 100% 0, 100% 82%, 86% 100%, 0 99%, 0% 60%, 0 30%);
  font-family: 'Orbitron';
font-size: 19px;
font-weight: 700;

display: flex;
align-items: center;
justify-content: center;


}



.top__btn-icon {
  margin-left: 11px;
}


.top__btn-link {
  font-family: 'Orbitron';
font-size: 19px;
font-weight: 700;
background: linear-gradient(90deg, #42A6E3 2.33%, #FF56F6 101.4%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.top__analytics-list {
  display: flex;
margin-top: 65px;

}

.top__number {
font-family: 'Aldrich', sans-serif;
font-size: 39px;
font-weight: 400;
line-height: 53px; 
letter-spacing: 0.221px;

}

.top__chapter {
font-family: 'Rajdhani', sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 22px; 
letter-spacing: 0.221px;

}

.top__analytics-list {
  list-style: none;
  padding: 0;
  gap: 40px;
}

.top__analytics-item {
  position: relative;
  padding-right: 17px;
}

.top__analytics-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1.105px;
  background: rgba(255, 255, 255, 0.26);
}

.top__analytics-item:last-child::after {
  display: none;
}

.top__sponsors-list {
  margin-top: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__sponsors-list img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.top-profile {
  position: relative;
}

.top_profile-img {
  position: absolute;
  top: 3%;
  left: 67%;
  max-width: 100%;
  height: auto;
}

.top__profile-card {
  display: flex;
  width: 336px;
  height: 181px;
  flex-shrink: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.10) -1.52%, rgba(255, 255, 255, 0.02) 104.35%);
  border: 2.211px solid rgba(255, 255, 255, 0.28);
  border-radius: 10px;
  backdrop-filter: blur(30px);
  max-width: 100%;
  position: absolute;
  bottom: 24%;
  right: 0;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 21%);

}

/* .top__profile-card > * {
  position: relative;
  z-index: 3;
} */

/* .top__profile-card {
  display: flex;
} */

.top__profile-part {
  margin-left: 23px;
  margin-top: 28px;
  margin-bottom: 26px;
}

.top-profile-title {
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
font-weight: 700;
line-height: 35px;
}

.top__profile-user {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-left: -4px;
}

.top__profile-user-name {
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
font-weight: 600;
line-height: 35px;
}

.top__profile-text {
  margin-top: 7px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 11px;
font-weight: 600;
line-height: 35px;
}

.top__profile-price {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: -6px;
}

.top__profile-price-title {
  font-family: 'Orbitron';
font-size: 9px;
font-weight: 700;
}

.top__profile-price-number {
  font-family: 'Rajdhani';
font-size: 11px;
font-weight: 400;
line-height: 35px;
}

.top__profile-time-text {
  
  font-family: 'Rajdhani', sans-serif;
  font-size: 11px;
font-weight: 600;
line-height: 35px;
}

.top__profile-time-list {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 17px;
  
}

.top__profile-time-number {
  font-family: 'Rajdhani';
font-size: 17px;
font-weight: 600;
line-height: 35px;
}

.top__profile-time-desc {
  font-family: 'Rajdhani';
font-size: 11px;
font-weight: 500;

}

.top__profile-time-button {
  border-radius: 2.211px;
border: 2.211px solid #FFA6FA;
background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
box-shadow: 0px 4.422px 107.23px 0px rgba(255, 86, 246, 0.51);
backdrop-filter: blur(106.12408447265625px);
padding: 7px 9px;
display: flex;
align-items: center;
gap: 10px;
font-family: 'Rajdhani';
font-size: 17px;
font-weight: 600;
color: #fff;
margin-top: 20px;
margin-left: -4px;
}


/*/////////// Top_NFT’s_section ///////////////*/

.cards__header {
  margin-top: 207px;
  display: flex;
  justify-content: space-between;
}

.cards__title {
  font-family: 'Orbitron';
font-size: 27px;
font-weight: 700;
/* margin-left: -20px; */
}

.cards__btn {
  display: flex;
  align-items: center;
  font-family: 'Orbitron';
font-size: 27px;
font-weight: 700;
color: #fff;
}

.cards__btn-icon {
  margin-left: 17px;
  width: 52px;
height: 27px;
}

.cards__list {
  margin-top: 47px;
}

.cards__list-mob {
  display: none;
}

.cards__list-l {
  display: flex;
  gap: 35px;
  justify-content: center;
  
}


.cards__profile-card {
  display: flex;
  width: 437px;
height: 236px;
  flex-shrink: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.10) -1.52%, rgba(255, 255, 255, 0.02) 104.35%);
  border: 2.211px solid rgba(255, 255, 255, 0.28);
  /* backdrop-filter: blur(30.400127410888672px); */
  max-width: 100%;
  height: auto;

}


.cards__profile-part {
  margin-left: 30px;
  margin-top: 36px;
  margin-bottom: 26px;
}

.cards__profile-part-s {
  margin-left: auto;
  margin-right: 27px;
  margin-top: 36px;
  margin-bottom: 26px;
}

.cards-profile-title {
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
font-weight: 700;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 23px;
line-height: 46px;
}

.cards__profile-user {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-left: -4px;
}

.cards__profile-user-name {
  font-family: 'Rajdhani', sans-serif;
font-size: 20.px;
font-weight: 600;
line-height: 46px;
}

.cards__profile-text {
  margin-top: 19px;
  font-family: 'Rajdhani', sans-serif;
font-size: 14px;
font-weight: 600;

}

.cards__profile-price {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: -6px;
}

.cards__profile-price-title {
  font-family: 'Orbitron';
  font-size: 13px;
  font-weight: 700;
}

.cards__profile-price-number {
  font-family: 'Rajdhani';
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
}

.cards__profile-time-text {
  
  font-family: 'Rajdhani', sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 40px;
}

.cards__profile-time-list {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 26px;
  
}

.cards__profile-time-number {
  font-family: 'Rajdhani';
  font-size: 23px;
  font-weight: 600;
}

.cards__profile-time-desc {
  font-family: 'Rajdhani';
  font-size: 14px;
  font-weight: 500;
  

}

.cards__profile-time-button {
  border-radius: 2.211px;
border: 2.211px solid #FFA6FA;
background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
box-shadow: 0px 4.422px 107.23px 0px rgba(255, 86, 246, 0.51);
backdrop-filter: blur(106.12408447265625px);
padding: 10px 16px;
display: flex;
align-items: center;
gap: 12px;
font-family: 'Rajdhani';
font-size: 23px;
font-weight: 600;
color: #fff;
margin-top: 31px;

}


/*/////////// Collection_section ///////////////*/
.collection {
  margin-top: 160px;
}

.collection__title {
  margin-bottom: 47px;
  margin-top: 50px;
  font-family: 'Orbitron';
font-size: 27px;
font-weight: 700;
}

.collection__block {
  display: flex;
  justify-content: space-between;
}


.collection__list-l {
  column-count: 2;
  list-style: none;
  gap: 43px;
}

.collection__item {
  break-inside: avoid;
  margin-bottom: 43px;
  width: 368px;
height: 98px;
border: 3px solid;
border-image: linear-gradient(to right, rgba(255, 166, 250, 0.3), rgba(60, 121, 212, 0.3));
border-image-slice: 1;
box-shadow: 0px 5.76px 139.681px 0px rgba(255, 86, 246, 0.51);
/* backdrop-filter: blur(138.24058532714844px); */

color: rgba(255, 255, 255, 0.50);

text-align: center;
font-family: 'Orbitron';
font-size: 27px;
font-weight: 700;

padding-top: 33px;
}

.collection__item:hover,
.collection__item:focus {
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
}

.collection_btn-cont {
  display: flex;
  justify-content: end;
}

.collection__btn {
 display: flex;
 align-items: center;

 color: #FFF;
font-family: 'Orbitron';
font-size: 20px;
font-weight: 700;
}

.collection__btn img {
  width: 52px;
height: 15px;
margin-left: 15px;
}


/*/////////// Explore-col_section ///////////////*/

.explore-col {
  position: relative;
}
.explore-col__header {
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
}

.explore-col__title {
  font-family: 'Orbitron';
font-size: 27px;
font-weight: 700;
/* margin-left: -10px; */
}

.explore-col__btn {
  display: flex;
  align-items: center;
  font-family: 'Orbitron';
font-size: 27px;
font-weight: 700;
color: #fff;
}

.explore-col__btn-icon {
  margin-left: 17px;
  width: 52px;
height: 27px;
}

.explore-col__list {
  margin-top: 48px;
}

.explore-col__list-l {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.explore-col__card {
  width: 438px;
height: 565px;
background: linear-gradient(145.77deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 105.76%),
linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
  border: 2.88px solid;
border-image-source: linear-gradient(145.77deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 105.76%);
  backdrop-filter: blur(0px);
  
}

.explore-col__user-img {
  position: absolute;
  top: 102px;
  left: 138px;
}

.explore-col__name {
text-align: center;
font-family: 'Rajdhani';
font-size: 24px;
font-weight: 500;
margin-top: 70px;

}

.explore-col-nickname-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
margin-top: 3px;
}

.explore-col__nickname {
  color: #FFB1EE;
font-family: 'Rajdhani';
font-size: 20px;
font-weight: 400;

}

.explore-col__nickname-icon {
  width: 16px;
  height: 17px;
}

.explore-col__folower-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 59px;
  margin-top: 30px;
}

.explore-col__folower-item {
  text-align: center;
}

.explore-col__folower-number {
  font-family: 'Rajdhani';
font-size: 32px;
font-weight: 600;
}

.explore-col__folower-disc {
  font-family: 'Rajdhani';
font-size: 20px;
font-weight: 500;
}

.explore-col__btn-folow {
color: #FFF;
text-align: center;
font-family: 'Rajdhani';
font-size: 20px;
font-weight: 600;
padding: 11px 91px;

background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%),
linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
border: 3px solid;
border-image-source: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
box-shadow: 0px 4.817474842071533px 116.82377624511719px 0px rgba(255, 86, 246, 0.51);
}
.explore-col__btn-f {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.explore-col__list-mob {
  display: none;
}

.cards__mob-btn {
  display: none;
}


/*/////////// Sellers_section ///////////////*/

.sellers {
  margin-top: 160px;
}

.seller__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
}

.sellers__title {
  text-align: center;
  font-family: 'Orbitron';
font-size: 27px;
font-weight: 700;
margin-right: 9px;
}

.sellers__title-special {
  font-family: 'Orbitron';
font-size: 27px;
font-weight: 700;
color: #FF56F6;
}

.sellers_text {
  text-align: center;
font-family: 'Roboto';
font-size: 18px;
font-weight: 400;
max-width: 489px;
margin: 25px auto 59px auto;

}


.sellers__list-l {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 34px;
}

.sellers__item {
  width: 31.50%;
  box-sizing: border-box; 
  padding: 10px; 
  /* width: 440px; */
height: 124px;
  border-radius: 28.572px;
border: 2.757px solid rgba(255, 255, 255, 0.28);
display: flex;
 justify-content: space-between;
  align-items: center;
  padding: 28px 20px 26px 30px;
  gap: 0;
}

/* .sellers__item {
  display: flex;
 justify-content: space-between;
  align-items: center;
  padding: 28px 20px 26px 30px;
} */

.sel-user-img {
  margin-right: 14px;
}

.sellers__count {
  margin-right: 17px;
  color: rgba(255, 255, 255, 0.80);
font-family: 'Roboto';
font-size: 19px;
font-weight: 500;
}

.sellers__block {
  display: flex;
  justify-content: start;
  align-items: center;
  
}

.sellers__user-name {
  font-family: 'Roboto';
font-size: 19px;
font-weight: 500;
margin-bottom: 16px;
}

.sellers__user-numb-block {
  display: flex;
  align-items: center;
}

.sellers__user-number {
  color: rgba(255, 255, 255, 0.80);
font-family: 'Roboto';
font-size: 14px;
font-weight: 500;
}

.sellers__user-pers-block-t {
  color: #0F6;
  width: 101px;
height: 35px;
border: 1.131px solid rgba(0, 178, 71, 0.72);
border-radius: 18px;
background: rgba(0, 178, 71, 0.15);
display: flex;
align-items: center;
justify-content: center;
}

.sellers__user-pers-block-f {
  color: #F00;
  width: 101px;
height: 35px;
display: flex;
align-items: center;
justify-content: center;
  border-radius: 18px;
border: 1.131px solid rgba(178, 0, 0, 0.72);
background: linear-gradient(180deg, rgba(235, 20, 20, 0.15) 0%, rgba(235, 20, 20, 0.10) 100%);
}

.sellers__btn-cont {
  display: flex;
  justify-content: center;
  margin-top: 62px;
}

.sellers__btn {
  color: #FFF;
  text-align: center;
font-family: 'Rajdhani';
font-size: 20px;
font-weight: 600;
padding: 11px 73px;
border: 2.409px solid #FFA6FA;
background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
box-shadow: 0px 4.817px 116.824px 0px rgba(255, 86, 246, 0.51);
backdrop-filter: blur(115.61940002441406px);
}


 /*/////////// About_section ///////////////*/ 

.about {
  margin-top: 160px;
  
}

.about__b {
  position: relative;
}

.about__img {
  background-image: url('../img/bg-about.png'); 
  background-size: cover;
  background-position: center;
  height: 556px;
  /* margin-bottom: 134px; */
}

.about__block {
  position: absolute;
  top: 217px;
  right: 50px;
border: 3px solid;
border: 2.883px solid #616161;
background: rgba(255, 255, 255, 0.10);
backdrop-filter: blur(72.80126190185547px);
width: 577px;
height: 473px;
padding-top: 58px;
padding-left: 71px;

}


.about__title {
  font-family: 'Inter';
font-size: 45px;
font-weight: 800;
margin-bottom: 18px;
}

.about__text {
  font-family: 'Inter';
font-size: 20px;
font-weight: 400;
max-width: 458px;
line-height: 35px;
margin-bottom: 45px;
}

.about__btn-m {
  display: flex;
  gap: 45px;
  align-items: center;
}

.about__more {
  color: #FFF;
  font-family: 'Inter';
font-size: 18px;
font-weight: 500;
display: flex;
  align-items: center;
  gap: 9px;
}

/*/////////// subscribe_section ///////////////*/ 

.subscribe {
  margin-top: 294px;
  margin-bottom: 160px;

}

.subscribe__block {
  display: flex;
  margin-left: 11px;
}

.subscribe__content {
  margin-left: 76px;
}

.subscribe__title {
  font-family: 'Orbitron';
font-size: 40px;
font-weight: 700;
margin-top: 31px;
}

.subscribe__text {
  max-width: 491px;
  margin-top: 28px;
  margin-bottom: 52px;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
}

.subscribe__input {
  border-radius: 6px 0px 0px 6px;
background: var(--Text-Gray-100, #F4F5F7);
padding: 15px 0 15px 18px;
margin-right: 4px;
width: 274px;
}

.subscribe__btn {
  border-radius: 0px 6px 6px 0px;
border: 2.409px solid #FFA6FA;
background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
box-shadow: 0px 4.817px 116.824px 0px rgba(255, 86, 246, 0.51);
backdrop-filter: blur(115.61940002441406px);
font-family: 'Inter';
font-size: 15px;
font-weight: 500;
color: #FFF;
padding: 11px 33px 15px 33px;
}

.subscribe__img-desc {
  border-radius: 4px;
}

.subscribe__img-mob {
  display: none;
}


/*/////////// Footer ///////////////*/

.footer__line {
  border: 2px solid #fff;
  opacity: 0.2;
  /* width: 1338px; */
  width: 100%;
  margin: 0;
}

.footer__f-part {
  margin-top: 98px;
  margin-bottom: 86px;
  gap: 90px;
}

.footer__f-part {
  display: flex;
}

.footer__desc-text {
color: #D9DBE1;
font-family: 'Inter';
font-size: 15px;
font-weight: 400;
line-height: 27px;
max-width: 282px;
margin-top: 31px;
}

.footer__desc-social {
  margin-top: 27px;
}

.footer__desc-social-list {
  display: flex;
  gap: 18px;
}

.footer__list {
  display: flex;
 gap: 33px;
}

.footer__colimn-item span {
  color: #2EC5CE;
  font-family: 'MuseoModerno';
  font-size: 22px;
  font-weight: 400;
  margin-left: 9px;
}


.footer__column-title {
font-family: 'Inter';
font-size: 20px;
font-weight: 500;
margin-bottom: 18px;
}

.footer__colimn-item {
color: #D9DBE1;
font-family: 'Inter';
font-size: 15px;
font-weight: 400;
line-height: 27px;
margin-bottom: 14px;
width: 177px;

}

.footer__list-mob {
  display: none;
}

.footer__s-part {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 27px;
margin-bottom: 35px;
}

.footer__s-part-text {
  color:  #D9DBE1;
font-family: 'Inter';
font-size: 15px;
font-weight: 400;
}

.footer__policy-list {
 
  display: flex;
  align-items: center;
  gap: 9px;
}

.footer__policy-item {
  position: relative;
  padding-right: 9px;
  
}

.footer__policy-item::after {
  content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background: #D9DBE1;
}

.footer__policy-item:last-child:after {
  display: none;
}

.footer__policy-mob{
  display: none;
}


/* .elips {
  width: 272px;
height: 272px;
border-radius: 272px;
background: #FF00C8;
backdrop-filter: blur(10px);
opacity: 0.9;
} */





/*/////////// Media ///////////////*/
@media (max-width: 1390px) {
  .container {
    
    padding-left: 20px;
    padding-right: 20px;
}

  .cards__container {
    padding-right: 0;
  }


  .cards__list-desc {
    display: none;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .bg-line {
    display: none;
  }

  .swiper-slide {
    width: auto;
  }

  .cards__list-mob {
    margin-top: 32px;
    display: block;
  }
  
  .explore-col__list-desc {
    display: none;
  }

  .explore-col__list-mob {
    margin-top: 32px;
    display: block;
  }
  
  .explore-col__title {
    margin-left: 0;
  }

  .sellers__item {
    width: 48%;
  }

  .tab-none {
    display: none;
  }

 .footer__f-part {
  display: block;
 }

 .footer__desc {
  margin-bottom: 50px;
  margin-left: 20px;
 }

 .footer__list {
  justify-content: space-between;
  gap: 0;
  margin-left: 20px;
  margin-right: 20px;
 }

 .footer__colimn-item {
  width: 100%;
 }

}

@media (max-width: 1200px) {

.top__analytics-list {
 display: flex;
 justify-content: center;
}

  .top__sponsors-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    
  }
  
  .top__sponsors-item {
    width: calc(50% - 15px); 
    margin-right: 15px; 
    margin-bottom: 15px; 
    text-align: center;
  }

  .top__sponsors-item img {
   margin: 0 auto;
  }
  
  .top__sponsors-item:last-child {
    margin-right: 0; 
  }

  .top__profile-card {
    
  bottom: -7%;
    right: 6%;
  }

.top_profile-img {
  
  margin: 0 auto;
  position: static; 
    top: auto;
    left: auto;
}
.top__profile {
  margin-top: 58px;
}

.collection__list-l {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.collection__item {
  width: auto; 
  height: auto;
  margin-right: 0; 
  padding-bottom: 33px;
}

.collection__block {
display: block;
margin-left: 0;
}

.collection__img-block img {
  margin: 0 auto;
}

.subscribe__img-desc {
  display: none;

}

.subscribe__img-mob {
  display: block;
  margin-top: 110px;
}

.subscribe__content {
  margin-left: 0;
}

}

@media (max-width: 1000px) {
    .header__inner {
        padding-bottom: 76px;
    }

    .menu__list {
        margin-left: 70px;
        gap: 0 40px;
    }

    .burger-container__button {
        display: none;
    }
    .cards__btn {
      display: none;
    }
    .cards__title {
      font-size: 17px;
      font-weight: 600;
      }

      .cards__img {
        width: 304px;
      height: 267px;
      }

      .cards__profile-card {
        width: 304px;
    height: 164px;
      
      }

      .cards__profile-part {
    margin-left: 21px;
    margin-top: 25px;
    margin-bottom: 23px;
  }
  
  .cards__profile-part-s {
    margin-left: auto;
    margin-right: 19px;
    margin-top: 25px;
    margin-bottom: 18px;
  }
  
  .cards-profile-title {
    font-size: 13px;
    line-height: 27px;
  }
  
  .cards__profile-user {
    margin-left: -3px;
  }
  
  .cards__profile-user-name {
  font-size: 11px;
  line-height: 27px;
  }
  
  .cards__profile-text {
    margin-top: 0;
  font-size: 9px;
  line-height: 27px;
  }

  .cards__profile-price img {
    width: 16px;
    height: 16px;
  }
  
  .cards__profile-price-title {
    font-size: 11px;
    font-weight: 600;
    line-height: 27px;
  }
  
  .cards__profile-price-number {
    font-size: 6px;
    line-height: 27px;
  }
  
  .cards__profile-time-text {
  font-size: 9px;
  line-height: 27px;
  }
  
  .cards__profile-time-list {
    gap: 16px;
    
  }
  
  .cards__profile-time-number {
    font-size: 14px;
    line-height: 27px;
  }
  
  .cards__profile-time-desc {
    font-size: 9px;
    font-weight: 500;
  }
  
  .cards__profile-time-button {
  padding: 7px 14px 7px 9px;
  gap: 9px;
  font-size: 14px;
  margin-top: 18px;
  margin-left: -3px;
  }



  .collection {
    margin-top: 109px;
  }
  
  .collection__title {
    margin-bottom: 26px;
  font-size: 16px;
  }
  
  .collection__list-l {
    gap: 17px;
  }
  
  .collection__item {
    margin-bottom: 17px;
  font-size: 11px;
  padding-top: 14px;
  padding-bottom: 14px;
  box-shadow: none;
  }

  .collection__item:hover,
  .collection__item:focus {
    box-shadow: 0px 5.76px 139.681px 0px rgba(255, 86, 246, 0.51);
  }
  
  .collection__btn {
  font-size: 8px;
  }
  
  .collection__btn img {
    width: 21px;
  height: 6px;
  margin-left: 6px;
  }
  
  .collection__img-block img {
    width: 186px;
  height: 348px;
  }


  .explore-col__header {
    margin-top: 111px;
  }

  .explore-col__btn {
    display: none;
  }
  
  .explore-col__title {
  font-size: 18px;
  }
  
  .explore-col__list-mob {
    margin-top: 32px;
    gap: 25px;
  }
  
  
  .explore-col__card {
    width: 303px;
  height: 391px;
  }
  
  .explore-col__user-img {
    top: 70px;
    left: 93px;
    width: 112px;
height: 112px;
  }
  
  .explore-col__name {
  font-size: 17px;
  margin-top: 50px;
  }
  
  .explore-col-nickname-box {
    gap: 3px;
  margin-top: 2px;
  }
  
  .explore-col__nickname {
  font-size: 14px;
  }
  
  .explore-col__nickname-icon {
    width: 11px;
    height: 12px;
  }
  
  .explore-col__folower-list {
    gap: 40px;
    margin-top: 20px;
  }
  
  .explore-col__folower-number {
  font-size: 22px;
  }
  
  .explore-col__folower-disc {
  font-size: 14px;
  }
  
  .explore-col__btn-folow {
  font-size: 14px;
  padding: 8px 52px;
  }

  .explore-col__btn-f {
    margin-top: 20px;
  }
  
  .cards__mob-btn {
    margin-top: 43px;
    display: block;

  }
  .mob-button {
    display: flex;
    justify-content: center;
  }

.btn-wrapper {
  padding: 3px;
   
    background: linear-gradient(to right, rgba(255, 166, 250, 0.3), rgba(60, 121, 212, 0.3));
    width: 133px;
    height: 34px;
  clip-path: polygon(14% 0, 100% 0, 100% 82%, 86% 100%, 0 99%, 0% 60%, 0 30%);
}

  .mob-btn {
    color: #FFF;
    background-color: rgb(35 12 60); 
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;
    width: 127px;
    height: 28px;
    font-family:'Orbitron';
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  clip-path: polygon(14% 0, 100% 0, 100% 82%, 86% 100%, 0 99%, 0% 60%, 0 30%);
  }
  

  /* .mob-btn {
    color: #FFF;
    border: 3px solid;
    border-image: linear-gradient(to right, rgba(255, 166, 250, 0.3), rgba(60, 121, 212, 0.3));
    border-image-slice: 1;
    width: 133px;
    height: 34px;
    font-family:'Orbitron';
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  clip-path: polygon(14% 0, 100% 0, 100% 82%, 86% 100%, 0 99%, 0% 60%, 0 30%);
 
  } */


  .mob-btn:hover,
  .mob-btn:focus {
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%),
linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);

  }
  .sellers__list-l {
    flex-wrap: nowrap;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  list-style: none;
  padding: 0;
  gap: 25px;
  }

.mob-none {
  display: none;
}

.sellers {
  margin-top: 109px;
}

.sellers__title {
font-size: 19px;
margin-right: 6px;
}

.sellers__title-special {
font-size: 19px;
}

.sellers_text {
font-size: 14px;
font-weight: 400;
max-width: 489px;
margin: 17px auto 37px auto;

}

.sellers__item {
  box-sizing: border-box; 
  width: 316px;
height: 90px;
  padding: 21px 20px 15px 20px;
  
}

.sel-user-img {
  margin-right: 10px;
  width: 51px;
  height: 51px;
}

.sellers__count {
  margin-right: 13px;
font-size: 14px;
}


.sellers__user-name {
font-size: 14px;
margin-bottom: 11px;
}

.sellers__user-number {
font-size: 10px;
}

.sellers__user-pers-block-t {
width: 73px;
height: 26px;
font-size: 11px;
}

.sellers__user-pers-block-f {
  width: 73px;
height: 26px;
font-size: 11px;
}

.sellers__btn-cont {
  display: none;
}
  
 }




 @media (max-width: 860px) {
    .menu__list {
        transform: translateY(-100%);
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        color: #01204C;
        /* border: 3px solid #8d9093;  */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        display: block;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        transition: transform .5s ease;
    }

    .menu__list.menu__list--open {
      transform: translateY(0%);
    }

.menu__item {
  margin-bottom: 25px;
}

.menu__close {
  display: block;
}

.menu__close-btn {
  /* background-color: transparent; */
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobile-actions {
  display: none;
}


    .menu__button {
     
      display: flex;
    }

    .footer__desc {
      margin-left: 0;
    }

    .footer__list {
      display: none;
    }

   .footer__list-mob {
    display: block;
   }
 
.footer__item-mob {
  
font-family: 'Inter';
font-size: 20px;
font-weight: 500;
line-height: 31px;
}

.footer__item-block {
  display: flex;
justify-content: space-between;
}

.footer__item-mob:hover > ul,
.footer__item-mob:focus > ul {
display: initial;
}

.footer__item-mob button {
  margin-right: 23px;
}

   .footer__line-mob {
    border: 2px solid #fff;
  opacity: 0.2;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 17px;
   }

   .footer__colimn-list-mob {
    display: none;


   }

   .footer__colimn-item-mob {
    color: #D9DBE1;
font-family: 'Inter';
font-size: 15px;
font-weight: 400;
line-height: 27px;
   }

   .footer__colimn-item-mob span {
    color: #2EC5CE;
    font-family: 'MuseoModerno';
    font-size: 22px;
    font-weight: 400;
    margin-left: 9px;
  }

  .footer__s-part {
    display: block;
    
  }

  .footer__policy-list {
    justify-content: center;
    gap: 33px;
    margin-bottom: 38px;
  }

  .footer__s-part-text {
    text-align: center;
  }

  .footer__policy {
    display: none;
  }

 .footer__policy-mob {
  display: block;
 }

 }


 @media (max-width: 811px) {
  
 }


 @media (max-width: 768px) {
  .top__title {
    margin-bottom: 40px;
 }

 .top__title-base {
  font-size: 42px;
}

.top__title-special {
font-size: 42px;
}

.top__text {
font-size: 14px;
line-height: 23.218px;
}



.top__sponsors-list {
  margin-top: 41px;
}


.about {
  margin-top: 109px;
  
}

.about__b {
  position: relative;
}

.about__img {
  height: 300px;
  margin-bottom: 98px;
}

.about__block {

  top: 123px;
  right: 21px;
  width: 335px;
  height: 275px;
padding-top: 34px;
padding-left: 41px;

}

.about__title {
font-size: 16px;
margin-bottom: 10px;
}

.about__text {
font-size: 12px;
font-weight: 400;
max-width: 266px;
line-height: 21px;
margin-bottom: 26px;
}

.about__btn-m {
  gap: 26px;
}

.about__more {
font-size: 10px;
  gap: 5px;
}

 }



 @media (max-width: 590px) {

.top__btn {
  padding: 9px 12px 12px 28px;
  font-size: 12px;
font-weight: 700;
margin-right: 18px;
}

.top__btn-icon {
  width: 28px;
height: 8px;
margin-left: 3px;
}

  .top__btn-link {
    font-size: 12px;
    
  }

  .top__number {
    font-size: 18px;
    line-height: 28px; 
    letter-spacing: 0.118px;
    }
    
    .top__chapter {
      font-size: 12px;
      line-height: 11px; 
      letter-spacing: 0.118px;
    }
    
    .top__analytics-list {
      gap: 56px;
      margin-top: 41px;
    }

    .subscribe {
      margin-top: 108px;
    }
    
    
    .subscribe__title {
    font-size: 26px;
    }
    
    .subscribe__text {
      max-width: 324px;
      margin-top: 18px;
      margin-bottom: 34px;
      font-size: 13px;
      line-height: 23px;
    }
    
    .subscribe__input {
    padding: 10px 12px;
    margin-right: 3px;
    width: 180px;
    }
    
    .subscribe__btn {
    font-size: 10px;
    padding: 10px 22px 10px 22px;
    }

 }



 @media (max-width: 480px) {
    .first-half {
      font-size: 16px;
    }

    .second-half {
      font-size: 16px;
    }

    .header__inner {
      padding-top: 26px;
      padding-bottom: 56px;
    }

    

    .user-actions__item {
      display: none;
    }

    .menu__list {
      /* width: 375px; */
      padding-bottom: 0;
     
    }

    .menu__button {
      margin-right: 0;
    }

    .top__title {
      margin-bottom: 40px;
   }

   .top__title-base {
    font-size: 42px;
}

.top__title-special {
  font-size: 42px;
}

.top__text {
  font-size: 14px;
  line-height: 23.218px;
}

.mobile-actions {
  background-color: #8d9093;
  display: flex;
  justify-content: center;
  align-items: center;
height: 60px;
gap: 60px;
}


.top__analytics-item::after {
  display: none;
}

 }

 
 @media (max-width: 404px) {
  

.top__profile-card {
    
  bottom: -7%;
   right: 0;
  }
 }
 
 
 @media (max-width: 375px) and (min-width: 200px) {
 


 }