html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


 body {
    background-color: #01204C;
    color: #fff;
 }


a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}

ul,
ol {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

.container {
    max-width: 1640px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/*/////////// header ////////////////*/


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 105px;
   
}

.logo {
    position: absolute;
    top: 0;
    left: -76px;
  }

  .logo-second {
    position: absolute;
    top: 51px; 
    left: 50px; 
  }

.first-half {
    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 20px;
    opacity: 60%;
}  

.second-half {
    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 20px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 66px;
    position: relative;
    z-index: 3;
}  

.menu__link {
    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 20px;
    opacity: 60%;
}

.menu__link:hover, .menu__link:focus {
    opacity: 100%;
}

.menu__button {
    display: none;
    /* width: 21px; */
    height: 20px;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    background-color: #01204C;
    position: relative;
    z-index: 2;
}


.line {
  background-color:#fff;
    height: 3px;
  width: 21px ;
}

.middle {
  background-color:#fff;
    height: 3px;
  width: 13px;
}
  

.user-actions {
    display: flex;
    align-items: center;
    gap: 0 41px;   
}

.mobile-actions {
  display: none;
}
.menu__close {
  display: none;
}

.menu--close {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  transition: background-color .3s ease;
}

.menu--close.menu--open {
  display: block;
}

/*/////////// main block ///////////////*/

.top__inner {
  position: relative;
}

.top__title {
   max-width: 847px;
   margin-bottom: 21px;
}

.top__title-base {
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    font-size: 66px;
    line-height: 137.4%;
}

.top__title-special {
    font-family: 'Spartan', sans-serif;
                                                
    font-weight: 600;
    font-size: 66px;
    line-height: 137.4%;
    background: linear-gradient(272deg, #43A5E3 46.06%, #FF56F6 81.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.space {
    margin-right: 7px; 
  }

 .top__text {
font-family: 'Rajdhani', sans-serif;
font-size: 26px;
font-weight: 400;
line-height: 44px;
max-width: 657px;
 } 

.top__button {
  position: absolute;
    top: 240px;
    left: -100px;
}

.top__button-content {
  position: absolute;
  display: flex;
  align-items: center;
  top: 385px;
  left: 70px;
}

.top__button-text {
  font-family: 'Orbitron';
font-size: 19px;
font-weight: 700;
margin-right: 5px;
}

.top__button-link {
  font-family: 'Orbitron';
font-size: 19px;
font-weight: 700;
background: linear-gradient(90deg, #42A6E3 2.33%, #FF56F6 101.4%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left: 70px;
}

.top__analytics-list {
  display: flex;
margin-top: 190px;
}

.top__number {
font-family: 'Aldrich', sans-serif;
font-size: 39px;
font-weight: 400;
line-height: 53px; 
letter-spacing: 0.221px;
}

.top__chapter {
font-family: 'Rajdhani', sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 22px; 
letter-spacing: 0.221px;
}

.top__analytics-list {
  list-style: none;
  padding: 0;
  gap: 40px;
}

.top__analytics-item {
  position: relative;
  padding-right: 17px;
}

.top__analytics-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1.105px;
  background: rgba(255, 255, 255, 0.26);
}

.top__analytics-item:last-child::after {
  display: none;
}

.top__sponsors-list {
  margin-top: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__sponsors-list img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}


@media (max-width: 1200px) {

  .top__sponsors-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  
  .top__sponsors-item {
    width: calc(50% - 15px); 
    margin-right: 15px; 
    margin-bottom: 15px; 
  }
  
  .top__sponsors-item:last-child {
    margin-right: 0; 
  }

}

@media (max-width: 1000px) {
    .header__inner {
        padding-bottom: 76px;
    }

    .menu__list {
        margin-left: 70px;
        gap: 0 40px;
    }

    .burger-container__button {
        display: none;
    }
 }




 @media (max-width: 860px) {
    .menu__list {
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 480px;
        margin: 0 auto;
        background-color: #fff;
        color: #01204C;
        /* border: 3px solid #8d9093;  */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        display: block;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        transition: transform .5s ease;
    }

    .menu__list.menu__list--open {
      transform: translateY(0%);
    }

.menu__item {
  margin-bottom: 25px;
}

.menu__close {
  display: block;
}

.menu__close-btn {
  /* background-color: transparent; */
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobile-actions {
  display: none;
}

    .header__inner {
      justify-content: end;
    }

    .menu__button {
      margin-right: 41px;
      display: flex;
    }

    .top__button-content {
      top: 350px;
    }
    
    .top__button {
        top: 200px;
    }
 }


 @media (max-width: 811px) {
  .top__button-content {
    top: 450px;
  }
  
  .top__button {
      top: 300px;
  }
 }


 @media (max-width: 768px) {
  .top__title {
    margin-bottom: 40px;
 }

 .top__title-base {
  font-size: 42px;
}

.top__title-special {
font-size: 42px;
}

.top__text {
font-size: 14px;
line-height: 23.218px;
}

.top__button-content {
  top: 245px;
}

.top__button {
    top: 100px;
}

.top__sponsors-list {
  margin-top: 41px;
}
 }



 @media (max-width: 590px) {
  .top__button-content {
    top: 245px;
    left: 30px;
  }
  
  .top__button-content img {
    width: 27px;
  height: 8px;
  }
  
  .top__button-text {
    font-size: 12px;
  }
  
  .top__button {
      top: 170px;
      left: -50px;
  }
  
  .top__button img {
    width: 233px;
  height: 142px;
  }

  .top__button-link {
    font-size: 12px;
    margin-left: 36px;
  }

  .top__number {
    font-size: 18px;
    line-height: 28px; 
    letter-spacing: 0.118px;
    }
    
    .top__chapter {
      font-size: 12px;
      line-height: 11px; 
      letter-spacing: 0.118px;
    }
    
    .top__analytics-list {
      gap: 56px;
    }

    

.top__analytics-list {
  margin-top: 104px;
}

 }



 @media (max-width: 480px) {
    .first-half {
      font-size: 16px;
    }

    .second-half {
      font-size: 16px;
    }

    .header__inner {
      padding-top: 26px;
      padding-bottom: 56px;
    }

    .logo {
      top: -17px;
    }

    .logo-second {
      top: 35px;
    }

    .user-actions {
      display: none;
    }

    .menu__list {
      width: 375px;
      padding-bottom: 0;
     
    }

    .menu__button {
      margin-right: 0;
    }

    .top__title {
      margin-bottom: 40px;
   }

   .top__title-base {
    font-size: 42px;
}

.top__title-special {
  font-size: 42px;
}

.top__text {
  font-size: 14px;
  line-height: 23.218px;
}

.mobile-actions {
  background-color: #8d9093;
  display: flex;
  justify-content: center;
  align-items: center;
height: 60px;
gap: 60px;
}

.top__button-content {
  top: 305px;
  left: 30px;
}

.top__button-content img {
  width: 27px;
height: 8px;
}

.top__button-text {
  font-size: 12px;
}

.top__button {
    top: 230px;
    left: -50px;
}

.top__analytics-item::after {
  display: none;
}

 }

 
 @media (max-width: 404px) {
  .top__button-content {
    top: 355px;
  }

  .top__button {
    top: 280px;
}
 }
 
 
 @media (max-width: 375px) and (min-width: 200px) {
  .top__button-content {
    top: 355px;
  }

  .top__button {
    top: 280px;
}

 }